// calligrafity
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
// serif
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Ibarra Real Nova", serif;
}

.car {
  &__caption {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-family: "Calligraffitti", cursive;
    letter-spacing: 5px;

    @media (max-width: 767.98px) {
      font-size: 1rem;
    }
  }
}

button {
  margin: 20px;

  @media (max-width: 575.98px) {
    margin: 10px;
  }
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 3px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 5 */
.btn-5 {
  font-family: "Ibarra Real Nova", serif;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(
    90deg,
    rgba(46, 5, 5, 1) 0%,
    rgba(206, 60, 62, 1) 100%
  );
}
.btn-5:hover {
  color: #fff;
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: red;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

// CONTACT CSS
.contact {
  padding: 2rem 0;
  background-color: #9ece7e;
  color: #fff;

  &__title {
    font-family: "Calligraffitti", cursive;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 3rem;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  input {
    display: block;
    margin: 0 0 1rem;
    font-weight: 700;
  }
  textarea {
    display: block;
    margin: 0 0 1rem;
  }

  label {
    font-family: "Ibarra Real Nova", serif;
    display: block;
    font-weight: 700;
    letter-spacing: 0.075em;
  }
}

.btn__submit {
  font-family: "Ibarra Real Nova", serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.075em;
}

// ABOUT US
.about-us {
  padding: 4rem 2rem;

  &__row {
    align-items: center;
  }

  &__text {
    margin-left: 2rem;

    @media (max-width: 991.98px) {
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  &__title {
    font-family: "Calligraffitti", cursive;
    font-size: 3rem;
    letter-spacing: 5px;

    @media (max-width: 575.98px) {
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    font-family: "Ibarra Real Nova", serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-style: italic;

    @media (max-width: 575.98px) {
      font-size: 0.9rem;
    }
  }
}

//Aniv
.images {
  img {
    max-width: 300px;
  }
}
