.navigation {
  background: transparent;
  padding: 1rem;

  &__img {
    width: 130px;
    height: 65px;
    max-width: 130px;
    object-fit: cover;
  }

  &__menu {
    gap: 3rem;

    @media (max-width: 991.98px) {
      gap: 1rem;
    }

    li {
      a {
        color: #ce3c3d !important;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.fixed-top {
  @media (max-width: 991.98px) {
    position: relative;
  }
}

.dropdown-menu {
  min-width: 13rem;
}
